@model ClinicManager.Models.Patient
@{
    ViewBag.Title = "PatientForm";
}
@Styles.Render("~/bundles/dtpickerstyles")
<h2>PatientForm</h2>


@using (Html.BeginForm("Save", "Patient"))
{
    if (Model != null)
    {
        @Html.HiddenFor(p => p.Id)
    }
    <div class="form-group">
        @Html.LabelFor(p => p.FullName)
        @Html.TextBoxFor(p => p.FullName, new { @class = "form-control" })
        @Html.ValidationMessageFor(p => p.FullName)
    </div>
    <div class="form-group">
        @Html.LabelFor(p => p.BirthDate)
        @Html.TextBoxFor(p => p.BirthDate, new { @class = "form-control datetimepicker", autocomplete="off"  })
        @Html.ValidationMessageFor(p => p.BirthDate)
    </div>
    <div class="form-group">
        @Html.LabelFor(p => p.PhoneNumber)
        @Html.TextBoxFor(p => p.PhoneNumber, new { @class = "form-control" })
        @Html.ValidationMessageFor(p => p.PhoneNumber)
    </div>
    <div class="form-group">
        @Html.LabelFor(p => p.EMail)
        @Html.TextBoxFor(p => p.EMail, new { @class = "form-control" })
        @Html.ValidationMessageFor(p => p.EMail)
    </div>
    <div class="form-group">
        @Html.LabelFor(p => p.Address)
        @Html.TextBoxFor(p => p.Address, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(p => p.Height)
        @Html.TextBoxFor(p => p.Height, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(p => p.Weight)
        @Html.TextBoxFor(p => p.Weight, new { @class = "form-control" })
    </div>
    <div>
        @Html.LabelFor(p => p.IsInsured)
        @Html.CheckBoxFor(p => p.IsInsured, new { @class = "form-check-input" })
    </div>
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Save</button>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/dtpickerjquery")
    <script>
        $(document).ready(function () {
            var thisYear = new Date().getFullYear();
            var today = new Date();
            $(".datetimepicker").datetimepicker({
                theme: 'dark',
                maxDate: today,
                yearEnd: thisYear,
                defaultTime: '00:00',
                timepicker: false
            });
        });
    </script>
}