@model ClinicManager.Models.Patient
@{
    ViewBag.Title = "PatientForm";
}

<h2>PatientForm</h2>


@using (Html.BeginForm("Save", "Patient"))
{
    <div class="form-group">
        @Html.LabelFor(p => p.FullName)
        @Html.TextBoxFor(p => p.FullName, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(p => p.BirthDate)
        @Html.TextBoxFor(p => p.BirthDate, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(p => p.PhoneNumber)
        @Html.TextBoxFor(p => p.PhoneNumber, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(p => p.EMail)
        @Html.TextBoxFor(p => p.EMail, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(p => p.Address)
        @Html.TextBoxFor(p => p.Address, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(p => p.Height)
        @Html.TextBoxFor(p => p.Height, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(p => p.Weight)
        @Html.TextBoxFor(p => p.Weight, new { @class = "form-control" })
    </div>
    @Html.HiddenFor(p => p.Id)
    <button type="submit" class="btn btn-primary">Save</button>
}